$xs:300px;
$sm:480px;
$md:768px;
$lg:1024px;

.album {
  .heading {
    align-items: center;
  }

  .container {

    .albumCard {
      height    : 200px;
      width     : 200px;
      margin    : 0 auto;
      text-align: center;

      .cover {
        border-radius      : 10px;
        height             : 180px;
        width              : 180px;
        background-position: center;
        background-repeat  : no-repeat;
        background-size    : cover;
        object-fit         : contai;
      }
    }

    @media screen and (max-width: $xs) {
      .albumCard {
        height    : 200px;
        width     : 200px;
        margin    : 0 auto;
        text-align: center;

        .cover {
          border-radius      : 10px;
          height             : 180px;
          width              : 180px;
          background-position: center;
          background-repeat  : no-repeat;
          background-size    : cover;
          object-fit         : contai;

          margin-top     : 10px;
          backdrop-filter: blur(35px);
          height         : 100vh;
          margin         : 0;
          padding        : 20px 10px;
        }
      }

    }
  }
}


.albumDetail {
  margin-top: 20px;

  .albumContainer {
    justify-content: flex-start;
    flex-direction : row;
    align-items    : flex-start;

    .cover {
      border-radius      : 10px;
      height             : 180px;
      width              : 180px;
      background-position: center;
      background-repeat  : no-repeat;
      background-size    : cover;
      object-fit         : cover;
    }

    .albumMeta {
      align-items: flex-start;

      .tags {
        text-transform: capitalize;
      }
    }
  }

  @media screen and (min-width: $xs) and (max-width:$sm) {
    .albumContainer {
      justify-content: center;
      flex-direction : column;
      align-items    : center;

      .cover {
        width              : 100px;
        height             : 100px;
        background-position: center;
        background-repeat  : no-repeat;
        background-size    : cover;
        object-fit         : cover;
      }

      .albumMeta {
        align-items: center;

        .albumName {
          font-size: 18px;
          margin   : 0;
        }

        .tags {
          align-items: center;
        }

      }
    }
  }
}