.jivani {
  padding: 0 25px;
  .paragraph {
    text-indent: 50px;
    text-align: justify;
  }

  .sliderWrapper {
    .fontSlider {
      position: fixed;
      right   : 30px;
      height  : 100px;
      bottom  : 120px;
    }
  }
}