.player {
  background: red;

  .appBar {
    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : cover;

    @media screen and (max-width: 480px) {
      // background:transparent !important
    }

    .toolBar {
      backdrop-filter : blur(25px);
      background-color: rgba(255, 255, 255, 0.1);

      .container {
        .playerAction {
          position: relative;

          .slider {
            top     : -15px !important;
            left    : 39px !important;
            position: absolute;
            top     : -14px;
            left    : 410px;
            width   : 340px;
          }
        }

        @media screen and (max-width: 480px) {

          .playerDetail,
          .muteIcon,
          .playlistIcon {
            display: none;
          }

          .playerAction {
            button {
              svg {
                font-size: 1.5rem;
              }
            }

            .slider {
              top  : -22px !important;
              width: 100%;
              left : 20px !important;
            }

            .duration {
              font-size: 12px;
            }

          }
        }

      }
    }
  }

  @media screen and (max-width: 840px) {
    .container {
      justify-content: center;
    }

    .playerDetail {
      display: none;
    }
  }

  @media screen and (max-width: 355px) {
    .duration {
      display: none;
    }
  }

  background-position: center center;
  background-repeat  : no-repeat;
  background-size    : cover;

  .moreDetail {
    display: none;
  }

  @media screen and (max-width: 480px) {

    .playlistsBtn,
    .albumDetail,
    .muteBtn {
      display: none;
    }

    .slider {
      position: absolute;
      top     : -21px;
      left    : 50px;
      width   : 340px;
    }

    .moreDetail {
      display: block;
    }



    .playerActionBtn {
      padding: 0;

      svg {
        font-size: 2.5rem;
      }
    }

    .blurBg {
      .albumCover {
        backdrop-filter: blur(10px);

        button {
          margin-top: 100px;
        }
      }
    }

    .dialogbox {}


  }




}

body {
  .blurBg {
    height               : 100% !important;
    background-repeat    : no-repeat;
    background-attachment: fixed;
    background-position  : center;
    background-size      : cover;

    .albumDetail {
      backdrop-filter: blur(50px);
      width          : 100%;
      position       : absolute;
      top            : 0;
      bottom         : 0;
      padding        : 13px;
      justify-content: center;
      align-items    : flex-end;

      .cover {
        border-radius      : 10px;
        height             : 200px;
        width              : 200px;
        background-position: center;
        background-repeat  : no-repeat;
        background-size    : cover;
        object-fit         : contain
      }

      .closeBtn {
        position: absolute;
        right   : 20px;
        top     : 20px;

        button {
          svg {
            font-size: 30px;
          }
        }
      }

      .tags {
        text-transform: capitalize;
        color         : #fff;
      }

      .slider {
        position: relative;
        width   : 95%;
        margin  : 0 auto;

        .leftDuration {
          position : absolute;
          left     : 0px;
          top      : 30px;
          font-size: 12px;
          color    : #fff;
        }

        .rightDuration {
          position : absolute;
          right    : 0px;
          top      : 30px;
          font-size: 12px;
          color    : #fff;
        }
      }

      .trackName {
        text-align: center;
        font-size : 22px;
        margin    : 0;
        color     : #fff;
      }

      .artistName {
        color: #fff;
      }

      .lyricsBody {
        text-align: center;
        color     : #fff;
      }

      .playerAction {
        width: 95%;
      }

      .color_white {
        color: #fff;
      }
    }
  }
}