.track {
  .heading {
    margin-bottom: 15px;
    align-items: center;
  }

  .trackCard {
    .cover {
      border-radius      : 10px;
      background         : url('../images/logo.png');
      height             : 60px;
      width              : 60px;
      background-position: center;
      background-repeat  : no-repeat;
      background-size    : cover;

    }
  }

  .trackDetail {
    padding: 0 10px;

    .name {
      font-size  : 14;
      font-weight: 600;
    }

  }


  @media screen and (max-width: 425px) {
    .trackDetail {
      .trackName,
      .albumName {
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;
        width: 247px;
      }
    }
  }

  @media screen and (max-width: 375px) {
    .trackDetail {
      padding  : 0 20px;
      .trackName,
      .albumName {
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;
        width: 180px;
      }
    }
  }
 

  @media screen and (max-width: 480px) {
    .track {
      .container {
        justify-content: center;

        .trackCard {
          max-width: 20.666667%;

          .cover {
            border-radius      : 10px;
            background         : url('../images/logo.png');
            height             : 50px;
            width              : 50px;
            background-position: center;
            background-repeat  : no-repeat;
            background-size    : cover;
          }
        }

        .trackDetail {
          padding  : 0 10px;
          max-width: 56.666667%;

          .trackName,
          .albumName {
            white-space  : nowrap;
            overflow     : hidden;
            text-overflow: ellipsis;
            width        : 170px;
          }
        }
      }
    }
  }
}